Source: nbibtex
Section: tex
Priority: optional
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper (>= 7), autotools-dev, liblua5.1-0-dev, pkg-config, noweb, rubber, texlive-latex-extra, texlive-latex-recommended
Standards-Version: 3.8.4
Vcs-Git: git://git.debian.org/git/collab-maint/nbibtex.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/nbibtex.git
Homepage: http://www.cs.tufts.edu/~nr/nbibtex/

Package: nbibtex
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: texlive-latex-base
Description: Powerful, flexible replacement for bibtex
 Tools to help authors take better advantage of BibTeX data,
 especially when working in collaboration.  Instead of using BibTeX
 'keys', which are chosen arbitrarily and idiosyncratically, nbibtex
 builds a bibliography by searching the actual contents of citations.
 It can be used as a drop-in, compatible replacement for bibtex.

Package: nbibtex-doc
Architecture: all
Depends: ${misc:Depends}
Section: doc
Description: Documentation of source code for nbibtex
 Includes the 'literate programming' source for nbibtex, which
 is useful if you want to create your own styles.
